@import "../../sass/variables/variables";
@import "../../sass/mixins/mixins";

.show {
  @include flex(flex, center);
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  position: relative;
  transition: transform 450ms;

  &__image {
    height: 297px;
    object-fit: cover;
    border-radius: 3px;
  }

  &__year {
    color: $color-dark-blue;
  }

  &:hover {
    transform: scale(1.08);
  }
}

.box-year {
  position: absolute;
  top: 70%;
  background-color: black;
  padding: 5px;
}
