@import "../../sass/variables/variables";

.header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid $color-text;
  background-color: $color-secondary;

  &__title {
    color: $color-dark-blue;
  }
}
