@import "../../sass/variables/variables";
@import "../../sass/mixins/mixins";

.footer {
  padding: $main-padding;
  border-top: 1px solid $color-text;
  @include flex(flex, space-around);
  align-items: center;
  background-color: $color-secondary;

  &__container {
    @include flex(flex, center);
  }

  &__icon {
    width: 35px;
    margin-right: 1rem;
  }
}
