@import "../../sass/variables/variables";

.series-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 1.25rem;
}

.series-container {
  padding: $basic-padding;
}
